@model WebMedForms.Models.Solicitacao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Solicitação</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMedicoSolicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMedicoSolicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmMedicoSolicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmMedicoSolicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaveAutenticacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaveAutenticacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadUnicoSaude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadUnicoSaude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndicacaoMedica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndicacaoMedica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndicacaoTratamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndicacaoTratamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridade)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
